<form method="post" action="/create">
  <div>
    <label>Artist:</label>
    <input type="text" name="artist">
  </div>
  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
<a href="/view">View all songs!</a>