<% @songs.each do |song| %>
  <div class="song">
    <h3><%= song.title %> <small>(Artist: <%= song.artist %>)</small></h3>
    <p>Created At: <%= song.created_at %></p>
  </div>
<% end %>
<a href="/create">Create a song!</a>